<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarket</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <h1 class="custom-heading">Вход в аккаунт</h1>
    <div class="container">
        <div class="button-container">
            <a href="/auth/login" class="custom-button">Вход</a>
            <a href="/auth/register" class="custom-button">Регистрация</a>
            <a href="/" class="custom-button">Назад</a>
        </div>
    </div>
</body>

</html>
