<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Банк</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="custom-heading">Меню запросов</h1>
        <div class="button-container">
            <a href="/support/queries/accounts" class="custom-button">Просмотр счетов клиента</a>
            <a href="/support/queries/transactions" class="custom-button">Просмотр переводов клиента</a>
            <a href="/support/queries/request_id" class="custom-button">Найти обращение по его номеру</a>
            <a href="/support/queries/surname" class="custom-button">Найти обращения по фамилии клиента</a>
            <a href="/support/queries/customer_id" class="custom-button">Найти обращения по номеру клиента</a>
            <a href="/support" class="custom-button">Назад</a>
        </div>
    </div>
</body>

</html>
