<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Банк</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="custom-heading">Меню обращений</h1>
        <div class="button-container">
            <a href="/support/request/new" class="custom-button">Новые обращения</a>
            <a href="/support/request/in_progress" class="custom-button">Обращения в обработке</a>
            <a href="/support/request/closed" class="custom-button">Закрытые обращения</a>
            <a href="/support" class="custom-button">Назад</a>
        </div>
    </div>
</body>

</html>
