<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarket</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="custom-heading">Панель управления службы поддержки</h1>
        <h1 class="custom-heading">Добро пожаловать, {{ name }}</h1>
        <div class="button-container">
            <a href="/support/queries" class="custom-button">Запросы</a>
            <a href="/support/request" class="custom-button">Обращения</a>
            <a href="/auth/logout" class="custom-button">Выход</a>
        </div>
    </div>
</body>

</html>
