<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Банк</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="custom-heading">Создание отчета</h1>
        <div class="button-container">
            <a href="/manager/create_report/new_customers" class="custom-button">Прирост клиентов</a>
            <a href="/manager/create_report/lost_customers" class="custom-button">Отток клиентов</a>
            <a href="/manager/create_report/requests" class="custom-button">Эффективность обслуживания клиентов</a>
            <a href="/manager" class="custom-button">Назад</a>
        </div>
    </div>
</body>

</html>
