<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarket</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <h1 class="custom-heading">Добро пожаловать, {{ name }}</h1>
        <div class="custom-heading">Баланс: {{ balance }}</div>
        <div class="button-container">
            <a href="/customer/transfer" class="custom-button">Совершить перевод</a>
            <a href="/customer/account_history" class="custom-button">История транзакций</a>
            <a href="/customer/request" class="custom-button">Обращения в поддержку</a>
            <a href="/auth/logout" class="custom-button">Выход</a>
        </div>
    </div>
</body>

</html>
