<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supermarket</title>
    <link rel="stylesheet" href="../../../static/style.css">
</head>

<body>
    <div class="container">
        <div class="button-container">
            <h1 class="custom-heading">Меню обращений в поддержку</h1>
            <a href="/customer/request/create" class="custom-button">Создать обращение</a>
            <a href="/customer/request/history" class="custom-button">Просмотр обращений</a>
            <a href="/customer" class="custom-button">Назад</a>
        </div>
    </div>
</body>

</html>
