<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отчеты по встречам</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRgKpGOTR2MHFN8pNTBm4jRTMG5duStbZo5V9WNB7" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>

        .small-text {
            font-size: larger;
        }
        body {
            color: white;
        }
        .report-title {
            cursor: pointer;
            color: #007bff;
        }
        .report-content {
            display: none;
            margin-top: 10px;
        }
        .table {
            color: #fff;
        }
        .pagination {
            margin-top: 20px;
            text-align: center;
        }
        .hidden {
            display: none;
        }

        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40vh;
            width: 80vw;
            margin: auto;
        }
        .custom-button {
            margin: 10px;
            max-width: 500px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .error-text {
            font-size: larger;
            text-decoration: underline;
        }


    </style>
</head>

<script>
    function toggleReportContent(reportId) {
        var content = document.getElementById(reportId);
        if (content.style.display === "none") {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
    }
</script>

<body>
    <div class="container">
        <h1 class="custom-heading">Отчеты "Прирост клиентов"</h1>
        <h1 class="custom-heading">для анализа темпов роста клиентской базы</h1>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart"></canvas>
        </div>
        <div class="button-container">
        {% for report_title, report_data in reports.items() %}
            <h2 class="custom-button" onclick="toggleReportContent('report_{{ report_title }}')">
                {{ report_title }}
            </h2>
            <div id="report_{{ report_title }}" class="report-content">
            <h1 class="small-text">
                Клиенты от {{ report_data[0].min_age }} до {{ report_data[0].max_age }} лет, зарегистрировавшиеся в период с {{ report_data[0].date_from }} до {{ report_data[0].date_to }}
            </h1>
            <h1 class="small-text">
                Отчет создан пользователем {{ report_data[0].created_by }}
            </h1>
            {% if report_data and report_data[0].id_data != None %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID Клиента</th>
                            <th>Фамилия</th>
                            <th>Дата рождения</th>
                            <th>Дата регистрации</th>
                            <th>Кол-во счетов</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in report_data %}
                            <tr>
                                <td>{{ customer.id_customer }}</td>
                                <td>{{ customer.surname }}</td>
                                <td>{{ customer.birthday }}</td>
                                <td>{{ customer.open_date }}</td>
                                <td>{{ customer.accounts }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="error-text">Пользователей, попадающих под заданные критерии, нет.</div>
            {% endif %}
                <div id="pagination-1" class="hidden pagination">
                    <button class="prevv custom-button">
                        &#8592
                    </button>
                    <button class="next custom-button">
                        &#8594
                    </button>
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="button-container">
            <a href="/ceo/view_report" class="custom-button">Назад</a>
        </div>
    </div>
<script>
        document.addEventListener('DOMContentLoaded', () => {
            const rowsPerPage = 4;
            function addEmptyRows(table, count) {
                for (let i = 0; i < count; i++) {
                    let row = table.insertRow();
                    for (let j = 0; j < 5; j++) {
                        let cell = row.insertCell();
                        cell.innerHTML = "&nbsp;";
                    }
                }
            }

            let dataFromFlask = {{ new_customers|tojson }};
            let labels = dataFromFlask.map(item => item.open_date);
            let data = dataFromFlask.map(item => item.customers);

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Количество зарегистрировавшихся пользователей',
                        data: data,
                        backgroundColor: 'rgba(0, 123, 255, 0.5)',
                        borderColor: 'rgba(0, 123, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            grid: {
                                display: false
                            },
                            ticks: {
                                color: 'white'
                            }
                        },
                        x: {
                            grid: {
                                display: false
                            },
                            ticks: {
                                color: 'white'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: 'white'
                            }
                        }
                    }
                }

            });

            document.querySelectorAll('.pagination').forEach(pagination => {
                const table = pagination.previousElementSibling;
                const rows = table.querySelectorAll('tbody tr');
                const rowsCount = rows.length;

                let currentPage = 1;

                if (rowsCount > rowsPerPage) {
                    pagination.classList.remove('hidden');
                }

                function displayRows(start, end) {
                    rows.forEach((row, index) => {
                        if (index >= start && index < end) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                }

                function updatePagination() {
                    const start = (currentPage - 1) * rowsPerPage;
                    const end = start + rowsPerPage;
                    displayRows(start, end);
                }

                pagination.querySelector('.prevv').addEventListener('click', () => {
                    if (currentPage > 1) {
                        currentPage--;
                        updatePagination();
                    }
                });

                pagination.querySelector('.next').addEventListener('click', () => {
                    if (currentPage * rowsPerPage < rowsCount) {
                        currentPage++;
                        updatePagination();
                    }
                });

                updatePagination();
            });
        });
    </script>
</body>
</html>
